<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{%static 'main.css'%}">
    <title>SpamMessage</title>
</head>
<body>
    <h1>Welcome to this page</h1>
    
    <form action="{%url 'result'%}">
        {%csrf_token%}
        <input type='text' id='textbox' name='email'>
        <br>
        <br>
        <input type="submit" id='sam'>
    </form>
</body>
</html>