body{
    background-color: aquamarine;
    margin-left: 30%;
}

#textbox{
    height: 200px;;
    width: 50%;
    font-size: 20px;
    background-color: rgb(167, 128, 230);
}

h2{
    color:rgb(45, 9, 206);
}
h1{
    color: rgb(252, 0, 55);
}
img{
    margin-left: 50%;
}